body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1, h4 {
  color: #2c3e50;
}

.app-container {
  display: flex;
  
}

.middle-third {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  text-align: center;
  margin: auto;
}

.search-bar-container {
  padding-top: 20px 0;
  width: 100%;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results-section {
  margin-bottom: 20px;
}

.dropdown-section {
  display: flex;
}

select {
  width: 200px;
  max-width: 100%;
  box-sizing: border-box;
}

.add-button, .reset-button {
  margin-top: 15px;
  background-color: lightgray;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.add-button:hover, .reset-button:hover {
  background-color: darkgray;
}

.playerStatsButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 20px;
}

#removeButton {
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  font-size: 30px;
  color: red;
  cursor: pointer;
}

#removeButton:hover {
  background-color: #f9f9f9;
}

.user-team {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.user-team h4 {
  margin: 10px 0;
  font-size: 18px;
  color: #34495e;
}

.user-team ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-team li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 10px;
  /* margin-bottom: 10px; */
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
}

.team-stats {
  background: #e3f2fd;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.team-stats p {
  margin: 5px 0;
  font-size: 16px;
}