/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #F5F5F5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #1D3557; /* Navy Blue */
}

header nav ul li a:hover {
    text-decoration: underline;
}

.main-content {
    padding: 20px;
}

.dropdown {
    padding: 25px;
}

.player-stats {
    margin-top: 20px;
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* Footer */
footer {
    background-color: #1D3557;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer ul li a:hover {
    text-decoration: underline;
}
