body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #F5F5F5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #1D3557; /* Navy Blue */
}

header nav ul li a:hover {
    text-decoration: underline;
}

.main-content {
    padding: 20px;
}

.dropdown {
    display: flex;
    gap: 40px;
    align-items: start;
    padding: 25px;
}

.team-player-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

select {
    padding: 4px;
    font-size: 16px;
    width: 150px; /* Control the width of the dropdowns */
}

.gameweek-dropdown {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.search-box {
    width: 600px;
    background: #fff;
    margin: 100px auto 0;
    border-radius: 5px;
}

.row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.player-search-input {
    flex: 1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
}

::placeholder {
    color: #555;
}

.result-box {
    max-height: 300px;
    overflow-y: scroll;
}

.result-box ul{
    border-top: 1px solid #999;
    padding: 15px 10px;
}

.result-box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

.result-box ul li:hover {
    background-color: #e9f3ff;
}

.player-stats {
    margin-top: 20px;
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #1D3557;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer ul li a:hover {
    text-decoration: underline;
}
