<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Stats</title>
    <link rel="stylesheet" href="../static/css/player-stats.css">
</head>
<body>
    <header>
        <div class="logo">FPL Assist</div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/predicted-points">Predicted Points</a></li>
                <li><a href="/player-stats">Player Stats</a></li>
                <li><a href="/team-management">Team Management</a></li>
            </ul>
        </nav>
    </header>

    <div class="main-content">
        <p>Vision - info on players including schedule, past points scored, price, team, position</p>
        <p> Maybe a user can look up a price and see the top performing players for that price</p>
    </div>


    <footer>
        <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
        </ul>
    </footer>
</body>
</html>