<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Management</title>
    <link rel="stylesheet" href="../static/css/team-management.css">
</head>
<body>
    <header>
        <div class="logo">FPL Assist</div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/predicted-points">Predicted Points</a></li>
                <li><a href="/player-stats">Player Stats</a></li>
                <li><a href="/team-management">Team Management</a></li>
            </ul>
        </nav>
    </header>

    <div class="main-content">
        <p>Vision - Users can create an account and store their team on the website</p>
        <p>Use sql to store user data in a database</p>
    </div>


    <footer>
        <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
        </ul>
    </footer>
</body>
</html>